<!DOCTYPE html>
<html>
  <head>
    <title>KeyboardApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Custom JS -->
    <%= yield(:custom_js) %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
